* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: rgba(129, 130, 128, 0.647);
  padding: 15px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  height: 100px;
  width: 150px;
  background-color: rgb(46, 40, 235);
  border-radius: 10px;
  color: #fff;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
